[submodule "FlexEngine/dependencies/glm"]
	path = FlexEngine/dependencies/glm
	url = https://github.com/ajweeks/glm
[submodule "FlexEngine/dependencies/stb"]
	path = FlexEngine/dependencies/stb
	url = https://github.com/nothings/stb
[submodule "FlexEngine/dependencies/glfw"]
	path = FlexEngine/dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "FlexEngine/dependencies/bullet"]
	path = FlexEngine/dependencies/bullet
	url = https://github.com/ajweeks/bullet3
[submodule "FlexEngine/dependencies/freetype"]
	path = FlexEngine/dependencies/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
