[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/soil"]
	path = dependencies/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
