
FlexEngine/resources/fonts/*.png
FlexEngine/resources/scenes/saved/*
FlexEngine/resources/profiles/*
FlexEngine/resources/meshes/Bistro/**
FlexEngine/resources/meshes/EmeraldSquare/**
FlexEngine/resources/meshes/SunTemple/**
FlexEngine/resources/meshes/SunTemple.fbx

FlexEngine/saved/**

FlexEngine/resources/textures/hdri/**
!FlexEngine/resources/textures/hdri/Milkyway_small.hdr

FlexEngine/dependencies/**/objs/**
FlexEngine/dependencies/**/build/**
FlexEngine/dependencies/**/builds/**
FlexEngine/dependencies/**/bin/**

FlexEngine/dependencies/shaderc**

AdditionalFiles/flex-cppcheck-build-dir/**
AdditionalFiles/FlexVTune/**
AdditionalFiles/flex/**
!AdditionalFiles/flex/*.ngfx-proj

build/**

# User settings files
common.json
window-settings.json
imgui.ini
renderdoc.json

*.blend1
*.bfxrsound
*.gif
*.webm
*.psd
*.mp4
*.mtl
*.max
*.orig
*.spv
*.ngfx-gputrace*
*.cap
*.nsight-gfxproj
*.header_hero
*.amplxeproj

sh.exe.stackdump


# --- End FlexEngine entries ---


# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/CMake/**

.vscode/**

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
